.single-case-studies .nhsuk-image{
	float: left;
	margin: 0 20px 20px 0;
	width: 33%;
}

.single-case-studies{

	article{

		h2,
		h3,
		h4,
		h5{
			display: inline-block;
		}
	}
}

body.case-studies-sidebar .case-study-archive{
	display: flex;
}
